[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open in Alacritty terminal
Icon=terminal

[X-Action-Profile profile_id]
MimeTypes=inode/directory
Exec=alacritty --working-directory %F
