[submodule "home/filiparag/.vim_runtime"]
	path = home/filiparag/.vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "home/filiparag/.vim/vim-monokai"]
	path = home/filiparag/.vim/vim-monokai
	url = https://github.com/sickill/vim-monokai
