[submodule "src/HOME/.vim_runtime"]
	path = src/HOME/.vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule "src/HOME/.vim/vim-monokai"]
	path = src/HOME/.vim/vim-monokai
	url = https://github.com/sickill/vim-monokai
