* {
  accent:           #6BA0DE;
  background:       #002C37;
  background-focus: #404552;
  foreground:       #FFFFFF;
  foreground-focus: #FFFFFF;
  on:               #44ad4d;
  off:              #e34039;
}