[user]
	email = filip@parag.rs
	name = Filip Parag
	signingkey = A14B0539F97EB0F32E4DB5A6491FDD271C9A4994
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
