[user]
	email = vladimirjovin8@gmail.com 
	name = Vladimir Jovin 
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
