URxvt.font:			xft:Source Code Pro-11:hinting=True;antialias:True
URxvt.italicFont:	xft:Source Code Pro-11:italic;hinting=True;antialias:True
URxvt.boldFont:		xft:Source Code Pro-11:bold;hinting=True;antialias:True

Xft.dpi:			96
Xft.antialias:		true
Xft.rgba:			rgb
Xft.hinting:		true
Xft.hintstyle:		hintslight
Xft.lcdfilter:		lcddefault

! special
*.foreground:		#c5c5c5
*.background:		#131313
*.cursorColor:		#c5c5c5

! black
*.color0:			#1c1c1c
*.color8:			#666666

! red
*.color1:			#ff005b
*.color9:			#ff00a0

! green
*.color2:			#cee318
*.color10:			#ccff00

! yellow
*.color3:			#ffe755
*.color11:			#ff9f00

! blue
*.color4:			#048ac7
*.color12:			#48c6ff

! magenta
*.color5:			#833c9f
*.color13:			#be67e1

! cyan
*.color6:			#0ac1cd
*.color14:			#63e7f0

! white
*.color7:			#e5e5e5
*.color15:			#f3f3f3
