/** Configured For Applets **/

configuration {
  show-icons: true;
  icon-theme: "Paper";
  drun-display-format: "{icon} {name}";
  display-window: "";
  display-drun: "";
  display-run: "";
  display-ssh: "ssh";
  location: 0;
  yoffset: 0;
  xoffset: 0;
  columns: 2;
  fake-transparency: false;
  hide-scrollbar: true;
  bw: 0;
  fullscreen: false;
  show-icons: false;
  terminal: "urxvt";
  sidebar-mode: false;
}

@theme  "style/style_normal_grid.rasi"
