[Unit]
Description=User suspend actions
Before=sleep.target suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre=/home/%I/.config/bspwm/bspwmrc suspend
ExecStart=/usr/bin/sleep 0.3

[Install]
WantedBy=sleep.target suspend.target
