[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
#Environment=DISPLAY=:0
ExecStartPre=/home/%I/.config/bspwm/bspwmrc suspend
ExecStart=/home/%I/.config/bspwm/modules/system/lock screen=on
ExecStartPost=/usr/bin/sleep 0

[Install]
WantedBy=sleep.target
