[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%I/.config/bspwm/modules/system/lock systemd
ExecStartPost=/usr/bin/sleep 0

[Install]
WantedBy=sleep.target
