[Unit]
Description=Serveo.net SSH tunnel
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/bin/bash -c '/usr/bin/autossh -M 22000 serveo.net -R "$(cat /etc/hostname)":22:localhost:22'
Restart=no

[Install]
WantedBy=multi-user.target
