[Unit]
Description=User suspend actions
Before=sleep.target suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/wmrc unit suspend-event &
ExecStart=/usr/bin/sleep 0.2

[Install]
WantedBy=sleep.target suspend.target
