[Unit]
Description=Resume event handler for wmrc
After=sleep.target suspend.target hibernate.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/wmrc unit systemd-resume-event

[Install]
WantedBy=sleep.target suspend.target hibernate.target

